.item-list{
    background-color: rgb(49, 54, 81);
    border: 1px solid rgb(68,68,68);
    border-radius: 12px;
    margin: 1rem 1rem;
    padding: 1rem,1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
}

.todo-delete:hover{
    cursor: pointer;
}

.todo-delete{
    display: flex;
    align-items: center;
}

.todo-title{
    padding-left: 10px;
}
.icons{
    display: flex;
    width: 5rem;
    justify-content: space-evenly;

}
